* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url('./Images/ac2ad7e21811b8d77ad910ee2e3a0332.jpg');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  width: 85%;
  max-width: 900px;
  background: #5f046b62;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.945);
}

.image-section {
  width: 50%;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-section {
  width: 50%;
  padding: 30px;
}

.form-section h2 {
  text-align: center;
  font-family: "Cookie", cursive;
  font-size: 3rem;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-family: "Pompiere", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 3px solid #ad08a5;
  background-color: rgba(255, 192, 255, 0.527);
}

input:focus {
  outline: none;
  background-color: rgba(240, 192, 255, 0.568);
  border-color: #881297;
  box-shadow:inset 5px 5px 5px black, 0 0 30px #f3c1ff;
}

button {
  width: 100%;
  padding: 15px;
  background: #71097a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Pompiere", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

button:hover {
  box-shadow: inset 5px 5px 5px black;
}

.error {
  color: rgb(255, 0, 0);
  font-size: 12px;
  height: 12px;
  display: block;
}

@media (max-width: 576px) {
  .container {
    flex-direction: column;
  }

  .image-section,
  .form-section {
    width: 100%;
  }

  .image-section {
    height: 500px;
  }
}
@media (min-width:577px) and (max-width:768px) {
    .form-section h2 {
  text-align: center;
  font-family: "Cookie", cursive;
  font-size: 1.5rem;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-family: "Pompiere", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 3px solid #ad08a5;
  background-color: rgba(255, 192, 255, 0.527);
}

input:focus {
  outline: none;
  background-color: rgba(240, 192, 255, 0.568);
  border-color: #881297;
  box-shadow:inset 5px 5px 5px black, 0 0 30px #f3c1ff;
}

button {
  width: 100%;
  padding: 15px;
  background: #71097a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Pompiere", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

button:hover {
  box-shadow: inset 5px 5px 5px black;
}

.error {
  color: rgb(255, 0, 0);
  font-size: 12px;
  height: 12px;
  display: block;
}
}