* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background-image: url('https://images5.alphacoders.com/132/thumb-1920-1327980.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.glass-card {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(12px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.774);
  color: white;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
  margin-bottom: 25px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: rgba(235, 234, 234, 0.315);
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 12px;
  color: #666;
  font-size: 14px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -8px;
  font-size: 12px;
  color: #fff;
}


.btn-group {
  display: flex;
  gap: 12px;
}

button {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  color: white;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: inset 5px 5px 5px black;
}

button.reset {
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
}

.result-box {
  margin-top: 18px;
  padding: 14px;
  text-align: center;
  border-radius: 12px;
  display: none;
  font-weight: bold;
  animation: pop 0.4s ease;
  box-shadow: inset 0 0 10px black;
}

@keyframes pop {
  from { transform: scale(0.8); }
  to { transform: scale(1); }
}

#bmiChart {
  margin-top: 25px;
}

@media (max-width: 480px) {
  body {
    padding: 15px;
    align-items: flex-start;
  }

  .glass-card {
    max-width: 100%;
    padding: 20px;
    border-radius: 16px;
    margin-top: 40px;
  }

  h2 {
    font-size: 20px;
  }

  .subtitle {
    font-size: 12px;
  }

  .input-group input {
    font-size: 14px;
    padding: 10px;
  }

  .input-group label {
    font-size: 12px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }

  .btn-group {
    flex-direction: column;
  }

  #bmiChart {
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .glass-card {
    max-width: 90%;
    padding: 25px;
  }

  h2 {
    font-size: 22px;
  }

  button {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .glass-card {
    max-width: 420px;
  }
}
