@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images6.alphacoders.com/133/thumb-1920-1330710.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.password-card {
  background: rgba(255, 255, 255, 0.356);
  padding: 40px;
  border-radius: 20px;
  width: 420px;
  box-shadow:inset 0 0px 10px rgba(0, 0, 0, 0.938), 0 0 20px rgb(241, 76, 104);
  animation: fadeIn 0.5s ease;
}

.password-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}


.password-card input {
  width: 100%;
  padding: 13px 15px;
  border-radius: 12px;
  border: 2px dashed #ccc;
  margin-bottom: 15px;
  outline: none;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.459);
}

.password-card input:focus {
  border-color: #fc4eb9;
}


.strength {
  font-weight: 600;
  margin-bottom: 10px;
}

.strength.weak { color: red; }
.strength.medium { color: orange; }
.strength.strong { color: green; }

.missing {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.missing ul {
  padding-left: 18px;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #982a98;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 5px 5px 5px black;

}
.message {
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
  color: #2a5298;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
@media (max-width: 500px) {
  .password-card {
    width: 90%;
    padding: 25px;
  }
}
@media (min-width:300px) and (max-width:576px) {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images6.alphacoders.com/133/thumb-1920-1330710.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.password-card {
  background: rgba(255, 255, 255, 0.356);
  padding: 40px;
  border-radius: 20px;
  width: 80%;
  margin: auto;
  box-shadow:inset 0 0px 10px rgba(0, 0, 0, 0.938), 0 0 20px rgb(241, 76, 104);
  animation: fadeIn 0.5s ease;
}

.password-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}


.password-card input {
  width: 100%;
  padding: 13px 15px;
  border-radius: 12px;
  border: 2px dashed #ccc;
  margin-bottom: 15px;
  outline: none;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.459);
}

.password-card input:focus {
  border-color: #fc4eb9;
}


.strength {
  font-weight: 600;
  margin-bottom: 10px;
}

.strength.weak { color: red; }
.strength.medium { color: orange; }
.strength.strong { color: green; }

.missing {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.missing ul {
  padding-left: 18px;
  font-size: 14px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #982a98;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  transform: translateY(-2px);
  cursor: pointer;
  box-shadow: 5px 5px 5px black;

}
.message {
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
  color: #2a5298;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
@media (max-width: 500px) {
  .password-card {
    width: 90%;
    padding: 25px;
  }
}
}