body {
  margin: 0;
}

.app {
  text-align: center;
  padding: 40px;
  height: 100vh;
   background-image: url('https://images6.alphacoders.com/137/1378545.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
.app1{
  width: 50vw;
  margin: auto;
  padding: 20px;
  background-color: rgba(179, 125, 204, 0.801);
  border-radius: 20px;
  border: 5px solid plum;
  box-shadow: inset 0 0 20px black, 0 0 20px black;
}
.app1 h1{
   font-family: "Berkshire Swash", serif;
   color: beige;
   text-shadow: 0 0 15px rgb(78, 2, 72);
}
.search {
  margin-bottom: 20px;
}

input {
  margin-top: 5%;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(249, 240, 253, 0.5);
  box-shadow: 0 0 10px black;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ad29be;
  color: white;
  cursor: pointer;
}

button:hover {
  box-shadow: inset 5px 5px 5px black;
}

.weather-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  align-items: center;
  justify-items: center;
}
.w-image{
  height: 20vh;
  width: 10vw;
}
.w-image img{
  height: 100%;
  width: 100%;
}
.weather-card {
  background: rgba(255, 255, 255, 0.089);
  width: 80%;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(48, 47, 47);
  margin-top: 5%;
}

.loader {
  font-size: 18px;
  font-weight: bold;
}

.error {
  color: red;
  font-weight: bold;
}
.weather-card h2{
  font-family: "Winky Sans", sans-serif;
  font-size: 2rem;
}
.weather-card p{
  font-family: "Cookie", cursive;
  font-size: 2rem;
  font-weight: 600;
}
@media (min-width: 300px) and (max-width: 576px) {
  .app {
    height: 200vh;
  }

  .app1 {
    width: 90%;
    padding: 15px;
  }

  .search input {
    width: 80%;
    margin-top: 10px;
  }

  .search button {
    margin-top: 10px;
    margin-left: 0;
    width: 80%;
  }

  .weather-items {
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  .w-image {
    width: 20vw;
    height: auto;
  }

  .weather-card p {
    font-size: 1.4rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .app1 {
    width: 80vw;
  }
  .app{
    height: 120vh;
  }
  .weather-items {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  .w-image {
    width: 10vw;
    height: auto;
  }

  .weather-card p {
    font-size: 1.5rem;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .app1 {
    width: 70vw;
  }
  .app{
    height: 120vh;
  }
  .weather-items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .w-image {
    width: 10vw;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .app1 {
    width: 60vw;
  }
  .app{
    height: 120vh;
  }

  .w-image {
    width: 12vw;
  }
}
