.admin-container{
    width: 90%;
    margin: auto;
    position: relative;
    background-color: rgba(221, 184, 243, 0.644);
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
.admin-container h2{
    font-family: "Winky Sans", sans-serif;
    font-size: 2rem;
}

.admin-container form{
    border: 1px dashed purple;
    position: relative;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px black;
}

.admin-container form input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
     box-shadow: inset 0 0 10px purple;
      border: 1px dashed purple;
      background-color: rgba(252, 222, 252, 0.74);
}
.addmodule{
    padding: 10px;
    border: 1px dashed purple;
    background-color: rgba(221, 160, 221, 0.692);
    box-shadow: 0 0 10px purple;
}
.addmodule:hover{
    box-shadow: inset 0 0 10px purple;
    cursor: pointer;
}
.addcourse{
    padding: 10px;
    border: 1px dashed rgb(245, 134, 245);
    background-color: rgba(124, 47, 124, 0.692);
    box-shadow: 0 0 10px purple;
    color: white;
}
.addcourse:hover{
    box-shadow: inset 0 0 10px rgb(245, 134, 245);
}
.admin-container hr{
    margin-top: 5%;
}
.admin-container h1{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Winky Sans", sans-serif;
    font-size: 2rem;
}
.courese p{
    margin-top: 2%;
    font-family: "Pompiere", sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.courese{
    border: 1px dashed purple !important;
    position: relative;
    margin-top: 2%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px black;
}
.courese:hover{
    box-shadow: 0 0 20px black;
}
.courese button{
    position: relative;
    margin-top: 20px;
    border: 1px dashed purple !important;
    padding: 10px;
    background-color: rgba(221, 160, 221, 0.678);
    border-radius: 50%;
}
.courese button:hover{
    box-shadow: inset 5px 5px 5px black;
    cursor: pointer;
}
.preview button{
    position: relative;
    margin-top: 20px;
    border: 1px dashed purple !important;
    padding: 10px;
    background-color: rgba(221, 160, 221, 0.678);
    border-radius: 50%;
}
.preview button:hover{
    box-shadow: inset 5px 5px 5px black;
    cursor: pointer;
}