.register-container{
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 5%;
    background-color: rgba(243, 240, 240, 0.658);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 0 20px rgb(136, 75, 136);
}
.regis-col1{
    width: 100%;
    aspect-ratio: 4/6;
}
.regis-col1 img{
    height: 100%;
    width: 100%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}
.regis-col2 input{
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}
.regis-col2 input:focus{
    box-shadow: 0 0 10px rgb(139, 67, 139);
    outline: none;
}
.regis-col2 button{
    position: relative;
    margin-top: 5%;
    color: white;
    font-size: 20px;
    width: 60%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 0 10px violet, 0 0 20px rgb(150, 31, 150);
    background: linear-gradient(135deg,plum,rgb(173, 118, 173));
}
.regis-col2 button:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 5px rgb(129, 72, 129);
}

.regis-col2 select{
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}

.regis-col2 select option {           
    background-color: rgba(221, 160, 221, 0.301);     
    border: none;    
    font-size: 16px;            
}
.register-container h2{
    font-size: 2rem;
    text-shadow: 0 0 5px violet;
    color: purple;
     font-family: "Winky Sans", sans-serif;
}
@media (min-width:300px) and (max-width:400px) {
    .register-container{
    width: 80%;
    margin: auto;
    background-color: rgba(243, 240, 240, 0.658);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 0 20px rgb(136, 75, 136);
}
.regis-col1{
    width: 100%;
    aspect-ratio: 4/6;
}
.regis-col1 img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.regis-col2 input{
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}
.regis-col2 input:focus{
    box-shadow: 0 0 10px rgb(139, 67, 139);
    outline: none;
}
.regis-col2 button{
    position: relative;
    margin-top: 5%;
    color: white;
    font-size: 15px;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 0 10px violet, 0 0 20px rgb(150, 31, 150);
    background: linear-gradient(135deg,plum,rgb(173, 118, 173));
}
.regis-col2 button:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 5px rgb(129, 72, 129);
}

.regis-col2 select{
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}

.regis-col2 select option {           
    background-color: rgba(221, 160, 221, 0.301);     
    border: none;    
    font-size: 16px;            
}
.register-container h2{
    font-size: 2rem;
    text-shadow: 0 0 5px violet;
    color: purple;
     font-family: "Winky Sans", sans-serif;
}
}
@media (min-width:401px) and (max-width:576px) {
    .register-container{
    width: 80%;
    margin: auto;
    background-color: rgba(243, 240, 240, 0.658);
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 0 20px rgb(136, 75, 136);
}
.regis-col1{
    width: 100%;
    aspect-ratio: 4/6;
}
.regis-col1 img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.regis-col2 input{
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}
.regis-col2 input:focus{
    box-shadow: 0 0 10px rgb(139, 67, 139);
    outline: none;
}
.regis-col2 button{
    position: relative;
    margin-top: 5%;
    color: white;
    font-size: 15px;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 0 10px violet, 0 0 20px rgb(150, 31, 150);
    background: linear-gradient(135deg,plum,rgb(173, 118, 173));
}
.regis-col2 button:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 5px rgb(129, 72, 129);
}

.regis-col2 select{
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}

.regis-col2 select option {           
    background-color: rgba(221, 160, 221, 0.301);     
    border: none;    
    font-size: 16px;            
}
.register-container h2{
    font-size: 2rem;
    text-shadow: 0 0 5px violet;
    color: purple;
     font-family: "Winky Sans", sans-serif;
}
}
@media (min-width:576px) and (max-width:768px) {
    .register-container{
    width: 80%;
    margin: auto;
    background-color: rgba(243, 240, 240, 0.658);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 0 20px rgb(136, 75, 136);
}
.regis-col1{
    width: 100%;
    aspect-ratio: 3/6;
}
.regis-col1 img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.regis-col2 input{
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}
.regis-col2 input:focus{
    box-shadow: 0 0 10px rgb(139, 67, 139);
    outline: none;
}
.regis-col2 button{
    position: relative;
    margin-top: 5%;
    color: white;
    font-size: 15px;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 0 10px violet, 0 0 20px rgb(150, 31, 150);
    background: linear-gradient(135deg,plum,rgb(173, 118, 173));
}
.regis-col2 button:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 5px rgb(129, 72, 129);
}

.regis-col2 select{
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}

.regis-col2 select option {           
    background-color: rgba(221, 160, 221, 0.301);     
    border: none;    
    font-size: 16px;            
}
.register-container h2{
    font-size: 2rem;
    text-shadow: 0 0 5px violet;
    color: purple;
     font-family: "Winky Sans", sans-serif;
}
}
@media (min-width:769px) and (max-width:992px) {
    .register-container{
    width: 80%;
    margin: auto;
    background-color: rgba(243, 240, 240, 0.658);
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 0 20px rgb(136, 75, 136);
}
.regis-col1{
    width: 100%;
    aspect-ratio: 3/6;
}
.regis-col1 img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.regis-col2 input{
    width: 70%;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}
.regis-col2 input:focus{
    box-shadow: 0 0 10px rgb(139, 67, 139);
    outline: none;
}
.regis-col2 button{
    position: relative;
    margin-top: 5%;
    color: white;
    font-size: 15px;
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 0 10px violet, 0 0 20px rgb(150, 31, 150);
    background: linear-gradient(135deg,plum,rgb(173, 118, 173));
}
.regis-col2 button:hover{
    cursor: pointer;
    box-shadow: inset 5px 5px 5px rgb(129, 72, 129);
}

.regis-col2 select{
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    border: 1px dashed plum;
    background-color: rgba(243, 240, 240, 0.658);
}

.regis-col2 select option {           
    background-color: rgba(221, 160, 221, 0.301);     
    border: none;    
    font-size: 16px;            
}
.register-container h2{
    font-size: 2rem;
    text-shadow: 0 0 5px violet;
    color: purple;
     font-family: "Winky Sans", sans-serif;
}
}