.viewdetails-container{
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 5%;
    background-color: rgba(207, 186, 211, 0.349);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(109, 97, 109);
}
.viewdetails-container h3{
    margin-top: 10px;
    font-family: "Winky Sans", sans-serif;
}
.list-course{
    position: relative;
    margin-top: 5%;
    border: 1px dashed purple;
    box-shadow:0 0 20px rgba(90, 51, 90, 0.856);
}
.list-course h4{
    font-family: "Winky Sans", sans-serif;
}
.viewdetails-container button{
     position: relative;
    margin-top: 3%;
    color: white;
    font-size: 15px;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 0 10px violet, 0 0 20px rgb(150, 31, 150);
    background: linear-gradient(135deg,plum,rgb(173, 118, 173));
}
.viewdetails-container button:hover{
    box-shadow: inset 5px 5px 5px black;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:576px) {
    .viewdetails-container{
    width: 80%;
    margin: auto;
    position: relative;
    margin-top: 5%;
    background-color: rgba(207, 186, 211, 0.349);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px rgb(109, 97, 109);
}
.viewdetails-container h3{
    margin-top: 10px;
    font-family: "Winky Sans", sans-serif;
}
.list-course{
    position: relative;
    margin-top: 5%;
    border: 1px dashed purple;
    box-shadow:0 0 20px rgba(90, 51, 90, 0.856);
}
.list-course h4{
    font-family: "Winky Sans", sans-serif;
}
.viewdetails-container button{
     position: relative;
    margin-top: 3%;
    color: white;
    font-size: 15px;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    border: 3px solid white;
    box-shadow: 0 0 10px violet, 0 0 20px rgb(150, 31, 150);
    background: linear-gradient(135deg,plum,rgb(173, 118, 173));
}
.viewdetails-container button:hover{
    box-shadow: inset 5px 5px 5px black;
    cursor: pointer;
}
.thumbnail-image{
    width: 60vw;
    aspect-ratio: 4/4;
}
.thumbnail-image img{
    height: 100%;
    width: 100%;
}
}