.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-card button {
  width: 100%;
  padding: 10px;
  background: #243b55;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.toggle {
  margin-top: 10px;
  color: #243b55;
  cursor: pointer;
}
