@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-image: url('https://images2.alphacoders.com/261/thumb-440-26102.webp');
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.library-container {
  width: 95%;
  max-width: 1100px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(25px);
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
  color: white;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.top-bar h2 {
  font-weight: 600;
}

.logout-btn {
  background: #fd6a79;
  padding: 8px 18px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #ff1e38;
  transform: scale(1.05);
  box-shadow: inset 5px 5px 5px black;
}

.form-section {
  display: flex;
  gap: 15px;
  margin-bottom: 35px;
}

.form-section input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.form-section input::placeholder {
  color: #ddd;
}

.add-btn {
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  background:brown;
  color: white;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  transition: 0.3s;
}

.add-btn:hover {
    box-shadow: inset 5px 5px 5px black;
    cursor: pointer;
  transform: translateY(-2px);
}

.book-section {
  margin-top: 20px;
}

.book-section h3 {
  margin-bottom: 15px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 5px;
}

.book-card {
  background: rgba(255, 255, 255, 0.15);
  padding: 15px 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}

.book-card:hover {
  transform: translateY(-4px);
  background: rgba(255, 255, 255, 0.25);
}

.borrow-btn {
  background: #c58017;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.borrow-btn:hover {
  box-shadow: inset 5px 5px 5px black;
  cursor: pointer;
}

.return-btn {
  background: #966111;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.return-btn:hover {
  box-shadow: inset 5px 5px 5px black;
}
@media (min-width:300px) and (max-width:400px) {

  .library-container {
    padding: 20px;
  }

  .form-section {
    flex-direction: column;
  }

  .book-card {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .top-bar {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width:401px) and (max-width:576px) {

  .form-section {
    flex-direction: column;
  }

  .book-card {
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width:577px) and (max-width:768px) {

  .form-section {
    flex-wrap: wrap;
  }

  .form-section input {
    width: 100%;
  }

  .book-card {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width:769px) and (max-width:992px) {

  .library-container {
    width: 95%;
  }

  .form-section {
    flex-wrap: wrap;
  }
}

@media (min-width:993px) and (max-width:1200px) {

  .library-container {
    width: 90%;
  }
}
