* {
  box-sizing: border-box;
  transition: background 0.6s, color 0.6s;
  font-family: Arial, sans-serif;
}
body h1{
  font-family: "Cookie", cursive;
}
body {
  margin: 0;
  height: 100vh;
  background: url("https://images.pexels.com/photos/147465/pexels-photo-147465.jpeg") no-repeat center/cover;
  color: #222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.night {
  background: url("https://static.vecteezy.com/system/resources/thumbnails/005/732/461/small/night-time-scene-with-bright-full-moon-at-lake-vector.jpg") no-repeat center/cover;
  color: #fff;
}

.theme-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
  height: 35px;
  border-radius: 50px;
  border: none;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 3px;
  box-shadow: 0 0 10px black;
}

.theme-btn img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;
  transition: transform 0.4s ease;
}

body.night .theme-btn img {
  transform: translateX(32px);
}
